@import 'sass-includes';

.dropdown {
  position: relative;
  z-index: 9;

  &.has-error .dropdown__toggle { border-color: $red; }
}

.dropdown.is-open {
  .dropdown__toggle {
    border-color: transparent;
  }

  // TODO replace with up arrow icon when available
  .dropdown__icon:before {
    transform: translateY(-50%) rotate(180deg);
  }
}

.dropdown__menu {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4rem 2rem 1rem;
  border: 0.1rem solid $noon-yellow;
  width: 100%;
  border-radius: 0.3rem;
  color: $medium-grey;
  z-index: 1;
  background: $super-light-grey;

  li {
    cursor: pointer;
    padding-bottom: 1rem;
    &:hover:not(.is-active) { color: $dark-grey; }
  }

  .is-active { color: $noon-yellow; }
}

.dropdown__toggle {
  padding: 1rem 2rem;
  border: 0.1rem solid $light-grey;
  border-radius: 0.3rem;
  z-index: 10;
  cursor: pointer;
  position: relative;

  &:hover { border-color: $noon-yellow; }
}

// TODO replace with down arrow icon when available
.dropdown__icon:before {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  // font-size: 1.1rem;
  pointer-events: none;
}

.dropdown--alacarte {
  margin: 2.5rem auto;
  max-width: 18.5rem;

  .dropdown__toggle {
    @include font-size(sm);
    @include font(bold);
    text-transform: uppercase;
    text-align: left;
    color: $dark-grey;
    // media queries
    @include breakpoint($tablet-sm) {
      font-size: 1.2rem;
      letter-spacing: 0.05rem;
      padding-top: 0.6rem;
      padding-bottom: 0.6rem;
    }
  }

  .dropdown__menu {
    text-align: left;
  }
}

.dropdown--filter {
  @include font-size(xxsm);
  @include font(bold);
  background-color: $white;
  padding: 0 0.7rem;
  text-transform: uppercase;
  color: $medium-grey;
  text-align: center;

  .dropdown__icon:before {
    position: static;
    padding-left: 0.6rem;
  }

  .dropdown__toggle {
    padding: 1rem 2rem;
    border: 0;
    border-radius: 0.3rem;
    z-index: 10;
    cursor: pointer;
    position: relative;
    text-align: center;
    margin: 0 auto;
  }

  .dropdown__item,
  .dropdown__menu {
    background-color: $white;
  }

  .dropdown__menu {
    border: 0;
    padding-top: 5rem;
    border-bottom: 0.1rem solid rgba($dark-grey, 0.15);
  }
}
