@import 'sass-includes';

.form {
  &.form--hastitle {
    padding: 10rem 0;
  }

  .form__input {
    appearance: none;
    padding: 1rem 2rem;
    border: 0.1rem solid $light-grey;
    border-radius: 0.3rem;
    width: 100%;
    background: transparent;
  }

  input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important; // sass-lint:disable-line no-important
    pointer-events: none;
    position: absolute;
    right: 0;
  }

  input[type=text].form__input {
    -webkit-appearance: none;
  }

  .form__input--error {
    border-color: $red;
  }

  textarea.form__input {
    height: 25rem;
  }

  .form__label {
    display: block;
    margin-bottom: 1.5rem;
  }

  .formcol__half {
    width: calc(50% - 2rem);
    // media queries
    @include breakpoint($mobile-md) {
      width: 100%;
    }
  }

  .form__action {
    cursor: pointer;
    &:hover { color: $dark-grey; }
  }

  .form__error {
    // @include font-size(default);
    color: $red;
    position: relative;
    margin-top: 1rem;
  }

  .form__fields {
    position: relative;
  }
}