@import 'sass-includes';

.dropdown {
  position: relative;
  z-index: 9;

  &.dropdown--open .dropdown__menu {
    display: block;
  }

  .dropdown__menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 2rem;
    width: 100%;
    z-index: 1;

    li {
      cursor: pointer;
      padding-bottom: 1rem;
      &:hover:not(.dropdown__item--active) { color: $dark-grey; }
    }

    .dropdown__item--active {
      color: $medium-grey;
      font-weight: bold;
    }
  }

  .dropdown__toggle {
    padding: 1rem 2rem;
    z-index: 10;
    cursor: pointer;
    position: relative;
  }
}