{
  "extends" : "../.eslintrc",
  "env"     : {
    "mocha" : true
  },
  "globals" : {
    "expect" : false,
    "should" : false,
    "sinon"  : false,
    "assert" : false,
    "React": false,
    "mockComp": false,
    "noop": false
  }
}