@import 'sass-includes';

.checkable {
  cursor: pointer;
  position: relative;
}

.checkable__input {
  appearance: none;
  opacity: 0;
  display: none;
}

.checkable__mark {
  text-align: center;
  height: 1.8rem;
  width: 1.8rem;
  padding: 0;
  margin-right: 1em;
  border: solid 1px #CCC;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0.2rem;
  font-size: 1.1rem;
}

.checkable__label {
  padding-left: 3.5rem;
  display: block;
}

.checkable__input[type='radio'] + .checkable__mark {
  border-color: black;

  &:before {
    content: '';
    background: transparent;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    position: relative;
    top: 0.2rem;
    display: inline-block;
  }
}

.checkable__input[type='checkbox'] + .checkable__mark {
  // @extend .icon;
  // @extend .icon-check-24;

  &:before {
    opacity: 0;
    position: relative;
    top: 0;
  }
}

.checkable__input[type='checkbox']:checked + .checkable__mark {
  &:before {
    opacity: 1;
  }
}

.checkable__input[type='radio']:checked + .checkable__mark {
  &:before {
    background: black;
  }
}
