// draws a full width horizontal line for separating sections
.keyline {
  @extend %clearfix;
  height: 0.1rem;
  width: 100%;
  background: $light-grey;

  &.noon-yellow {
    background: $noon-yellow;
  }
}
