
// defines basic btn
.btn {
  background: $noon-yellow;
  color: $white;
  padding: 0.7em 1.3em;
  text-align: center;
  min-width: 10rem;
  cursor: pointer;
  border-radius: 0.4rem;
  border: 0.1rem solid $noon-yellow;
  display: inline-block;
  transition: background 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  &:hover { background: $medium-grey; border-color: $medium-grey; }

  &.disabled {
    pointer-events: none;
    background: $medium-grey;
    border-color: $medium-grey;
  }
  @include breakpoint($tablet-sm) {
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
  @include breakpoint($mobile-xsm) {
    font-size: 1.1rem;
  }
}

.btn--wide {
  padding-left: 0;
  padding-right: 0;
  min-width: 21rem;
  text-align: center;
}

// button that fills it's container
.btn--fullwidth {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  text-align: center;
}

// button with no border / background color
.btn--clear {
  background: transparent;
  color: $medium-grey;
  border: 0;

  &:hover { background: transparent; }
}

// button with no background color
.btn--simple {
  background: transparent;
  color: $noon-yellow;
  &:hover { background: transparent; }
}

// button with no background color / monotone border & text
.btn--ghost {
  background: transparent;
  color: $dark-grey;
  border-color: $light-grey;

  a { color: $medium-grey; }

  &.dark--bg {
    border-color: $dark-grey;
  }

  &:hover {
    background: $noon-yellow;
    border-color: $noon-yellow;
    color: $white;

    a { color: $white; }
  }

  &.disabled {
    background: transparent;
    border-color: darken($light-grey, 10);
    color: darken($light-grey, 10);
  }
}

// btn with a right aligned icon
.btn--icon {
  padding-left: 3rem;
  padding-right: 7rem;
  position: relative;
  // media queries
  @include breakpoint($tablet-sm) {
    padding-left: 2rem;
    padding-right: 6rem;
  }

  [class^='icon-'] {
    position: absolute;
    top: 50%;
    right: 2.5rem;
    transform: translateY(-50%);
    font-size: 3rem;
    // media queries
    @include breakpoint($tablet-sm) {
      font-size: 2.3rem;
      right: 2rem;
    }
    @include breakpoint($mobile-xsm) {
      font-size: 2rem;
      right: 1.1rem;
    }
  }
}

.btn--cart.btn--icon {
  @include breakpoint($mobile-lg) {
    padding-right: 7rem;

    [class^=icon-] {
      font-size: 3.2rem;
      top: 48%;
    }
  }
}

.btn--cart {
  @include breakpoint($mobile-lg) {
    font-size: 1.6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
