.table {
  width: 100%;

  .tr--heading {
    border-bottom: 0.1rem solid $light-grey;
  }

  tr {
    th {
      padding-top: 2rem;
      padding-bottom: 1.5rem;
      // media queries
      @include breakpoint($mobile-lg) {
        padding-top: 3rem;
        padding-bottom: 0;
      }
    }
  }

  &.align-top td {
    vertical-align: top;
  }

  td {
    padding-top: 3rem;
    padding-bottom: 3rem;
    // // media queries
    // @include breakpoint($tablet-lg) {
    //   padding-top: 2rem;
    //   padding-bottom: 2rem;
    // }
    // @include breakpoint($mobile-lg) {
    //   padding-top: 1rem;
    //   padding-bottom: 1rem;
    //   vertical-align: top;
    // }
  }

  td [class^='icon-'] {
    color: $dark-grey;
    position: relative;
    top: 0.5rem;
    font-size: 2.3rem;
    padding-left: 1rem;
  }
}

.table--comma span {
  &:after {
    content: ', ';
  }

  &:last-of-type:after {
    content: '';
  }
}
