.inlinesearch {
  position: relative;

  // Input should be hidden, but clickable
  .inlinesearch__input {
    opacity: 0;
    z-index: 2;
  }

  .inlinesearch__matching-text {
    font-weight: bold;
  }

  .inlinesearch__fake-input {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    padding: 0.2rem 0.5rem;
    border: 1px solid black;
    min-width: 10rem;
    min-height: 2rem;

    .inlinesearch__placeholder {
      color: mediumgrey;
    }
  }

  .inlinesearch__left {
    img {
      height: 2rem;
    }
  }

  .inlinesearch__cursor {
    -webkit-animation: 1s linear infinite blink_effect; // for android
    animation: 1s linear infinite blink_effect;
  }

  @-webkit-keyframes blink_effect { // for android
    0% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }

  @keyframes blink_effect {
    0% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
}