// extends must use % syntax to avoid writing classes to multiple component css files

// defines max grid constraint / centered
%container {
  max-width: $content-width;
  margin-left: auto;
  margin-right: auto;
}

// defines page marges roughly equal to one column
%page-margins {
  lost-column: #{$desktop-columns - 2}/#{$desktop-columns};
  margin-left: auto !important; // sass-lint:disable-line no-important
  margin-right: auto !important; // sass-lint:disable-line no-important
  float: none !important; // sass-lint:disable-line no-important
  // media queries
  @include breakpoint($mobile-lg) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  @include breakpoint($mobile-sm) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

// clearfix, for clearing parents with floating children
%clearfix {
  clear: both;

  &:after { clear: both; }

  &:before,
  &:after {
    content: '';
    display: table;
  }
}
