@import 'sass-includes';

.core__viewport {
  padding-top: 9rem;
  overflow: hidden;
  background: $super-light-grey;
  // media queries
  @include breakpoint($mobile-lg) {
    padding-top: 5.5rem;
    overflow: hidden;
  }
}

.support__status {
  width: 100%;
  position: fixed;
  height: 5.5rem;
  background-color: white;
  border-bottom: 1px solid $light-grey;
  bottom: 0;
  left: 0;
  z-index: 10;

  .support__status--text {
    width: 100%;
    text-align: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    span:first-child {
      @include font-size('t2');
      @include font('heading');
      margin-right: 1.5rem;
      color: $dark-grey;
    }

    .support__status--notification {
      @include font-size(xsm);
      @include font('bold');
      color: white;
      text-transform: uppercase;
      border-radius: 5%;
      font-weight: bold;
      padding: 0.3rem 1rem;
      position: relative;
      top: -0.2rem;
      // media queries
      @include breakpoint($tablet-sm) {
        top: -0.1rem;
      }

      &.green {
        background-color: #61B931;
      }
    }
  }
}

.support__status,
.support__chat {
  border-top: 0.1rem solid $light-grey;
}
