@import 'sass-includes';

.carousel__quote {
  .carousel__arrows {
    position: absolute;
    height: 4.5rem;
    font-size: 1rem;
    width: 6rem;
    right: 2rem;
    top: 12rem;
    // media queries
    @include breakpoint($mobile-lg) {
      display: none;
    }
  }

  .carousel__viewport {
    padding-bottom: 0;
    height: 20rem;
    // media queries
    @include breakpoint($mobile-lg) {
      height: 13rem;
    }
  }
}
