@import 'sass-includes';

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: block;
  z-index: 13;
}

.modal__close {
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
  color: $white;
  font-size: 2rem;
  cursor: pointer;
}
