// default font scaling
html {
  @include font(regular);
  font-size: 10px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

// font sizes
body,
.typ--default {
  @include font-size(default);
  line-height: 1.6;
}


// fonts scaling can be font in
// includes/mixins/_mixins.typography.scss
.typ--sm { @include font-size(sm); }
.typ--xsm { @include font-size(xsm); }
.typ--xxsm { @include font-size(xxsm); }

h1,
.typ--h1 {
  @include font-size(h1);
}

h2,
.typ--h2 {
  @include font-size(h2);
}

h3,
.typ--h3 {
  @include font-size(h3);
}

h4,
.typ--h4 {
  @include font-size(h4);
}

h5,
.typ--h5 {
  @include font-size(h5);
}

.typ--t1 {
  @include font-size(t1);
  @include font(light);
}

.typ--t2 {
  @include font-size(t2);
}

.typ--t3 {
  @include font-size(t3);
}


.typ--caps { text-transform: uppercase; }

.typ--titlecase { text-transform: capitalize; }

.typ--smallcaps {
  text-transform: lowercase;
  font-variant: small-caps;
}

.typ--nowrap {
  white-space: nowrap;
}

// font weights
.typ--light { @include font(light); }
.typ--medium { @include font(bold); }
.typ--bold { @include font(bold); }

// font families
.typ--heading { @include font(heading); }

// font modifiers

// basic element styles
strong { @include font(bold); }
p { margin-bottom: 1rem; }
a { text-decoration: none; }
em { font-style: italic; }

sup {
  vertical-align: super;
  font-size: smaller;
}

blockquote {
  padding-left: 3rem;
  border-left: 0.1rem solid $noon-black;
}

// Text decoration styles
.typ--underline { text-decoration: underline; }
.typ--actionable { cursor: pointer; }

// font alignment
.typ--center {
  text-align: center;
}

.typ--center--mlg {
  // media queries
  @include breakpoint($mobile-lg) {
    text-align: center;
  }
}

.typ--left {
  text-align: left;
}

.typ--right {
  text-align: right;
}
