// colors
$white: #FFFFFF;
$black: #000000;

// brand colors
$noon-yellow: #F6BE15;
$noon-black: #23201B;

// shades of grey
$super-dark-grey: #292621;
$charcoal: #3A3937;
$dark-grey: #6A6967;
$medium-grey: #A2A19F;
$light-grey: #E3E3E3;
$super-light-grey: #F6F6F6;

// hues
$blue: #34D2F6;
$green: #9BF552;
$red: #FF0302;
$warning: #FB9291;
